body{
    text-transform: uppercase;
}
.input-box input:required,
                .input-box select:required {
                    border: 2.2px solid #1a1a1c;;
                    
                    transition: border-color 0.3s;
                }
            
                .input-box input:invalid,
                .input-box select:invalid {
                    border-color: #1a1a1c; ;
                }

            .input-box input:required,
            .input-box select:required {
                border: 2px solid #ccc; /* Borde normal para campos requeridos */
                
                transition: border-color 0.3s;
            }
            
            .input-box input:valid,
            .input-box select:valid {
                border-color: #A9A9A9; /* Borde para campos válidos */
            }
            
            .input-box input:invalid,
            .input-box select:invalid {
                border-color: #1a1a1c; /* Borde  para campos inválidos */
            }

                .input-box input[type="text"],
                .input-box input[type="number"],
                .input-box select {
                    width: 100%;
                    padding: 10px;
                   text-transform: uppercase;
                    border-radius: 5px;
                    transition: border-color 0.3s;
                }

                .user-details {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                }
        
                .input-box {
                    flex: 1 1 calc(50% - 1rem);
                    display: flex;
                    flex-direction: column;
                }
        
                .input-box span.details {
                    font-weight: bold;
                    margin-bottom: 0.5rem;
                }
        
                .input-box input,
                .input-box select {
                    width: 100%;
                    padding: 0.8rem;
                    border: 2px solid #ccc;
                    border-radius: 5px;
                    transition: border-color 0.3s;
                }



